@import "tailwindcss";

@theme inline {
  --color-odoo-50: #fbf9fa;
  --color-odoo-100: #f5f0f3;
  --color-odoo-200: #eadde6;
  --color-odoo-300: #d6bccc;
  --color-odoo-400: #ba91ab;
  --color-odoo-500: #9e6d8f;
  --color-odoo-600: #714B67; /* Official Odoo Purple */
  --color-odoo-700: #6a4060;
  --color-odoo-800: #593551;
  --color-odoo-900: #4b3045;

  --color-primary-500: #10b981; /* Emerald 500 */
  --color-primary-600: #059669; /* Emerald 600 */
  
  --color-danger: #ef4444; /* Red 500 */
  --color-warning: #f59e0b; /* Amber 500 */
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

:root {
  --background: #ffffff; /* Crisp White */
  --foreground: #0f172a; /* Slate 900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Subtle standard card shadow for a clean look */
.card-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.card-shadow-lg {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.01);
}
